<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>
<body ng-app="defaultApp">
    <img src="../assets/images/hzw.jpg" style="display: none;">
    <div class="wrap">
        <div ui-view="header" style="height: 100px; background: yellowgreen; width: 100%;"></div>
        <div ui-view="menu" style="height: 300px; width: 200px; background: blue; float:left;"></div>
        <div ui-view="main" style="height: 300px; background: lightgoldenrodyellow; overflow: hidden">

            <div id="divPie" style="width: 600px;height:400px; margin-left:300px;">
            </div>
        </div>
    </div>

</body>
</html>