<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <style>
        .box{
            position: absolute;
            width:200px;
            height:200px;
            background:yellow;
            animation:mymove 5s infinite;
        }
        @keyframes mymove {
            from {top:0px;}
            to {top:200px;}
        }
    </style>
</head>
<body>
    <div class="box">hello word.</div>

    <div id="divPie" style="width: 600px;height:400px; margin-left:300px;">
    </div>
</body>
</html>